<mat-form-field *ngIf="inEdit" class="field-value-chip">
  <mat-chip-list #valueList>
    <mat-chip
      *ngFor="let v of field.value"
      [removable]="true"
      [selectable]="false"
      (removed)="remove(v)">
      {{v.value.strValue}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      #valueInput
      [formControl]="inputCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="valueList"
      (matChipInputTokenEnd)="addValue($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let v of filteredInputs | async" [value]="v">
      {{v}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

<mat-form-field *ngIf="!inEdit" class="field-value-chip">
  <mat-chip-list>
    <mat-chip
      *ngFor="let v of field.value"
      [removable]="true"
      [selectable]="false"
      (removed)="remove(v)">
      {{v.value.strValue}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-form-field>
