<form>
  <div class="form-group">
    <label for="labelInput">Label</label>
    <input type="text" class="form-control" id="labelInput" name="labelInput" [(ngModel)]="field.label" />
  </div>

  <div class="form-group">
    <label for="labelInput">Reference</label>
    <input type="text" class="form-control" id="reference" name="reference" [(ngModel)]="field.reference" />
  </div>

  <div class="form-group">
    <label for="dataType">Data type</label>
    <select class="form-control" id="dataType" name="dataType" (change)="updateField()" [(ngModel)]="field.dataType">
      <option *ngIf="!field.dataType" selected></option>
      <option *ngFor="let t of dataTypes | async">{{t.identifier}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="field.dataType">
    <label [for]="field.reference">Default value</label>
    <app-field [field]="field"></app-field>
  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
</form>

