{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title" : "Chaman",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://chaman.frol.be/api"
  }, {
    "url" : "http://chaman.frol.be/api"
  } ],
  "tags" : [ {
    "description" : "Field information",
    "name" : "field"
  }, {
    "description" : "Template information",
    "name" : "template"
  }, {
    "description" : "complete item form",
    "name" : "item"
  } ],
  "paths" : {
    "/field" : {
      "get" : {
        "operationId" : "getField",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Field"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get a field",
        "tags" : [ "field" ]
      },
      "post" : {
        "operationId" : "createField",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Field"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Field"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "create a field",
        "tags" : [ "field" ],
        "x-codegen-request-body-name" : "field"
      }
    },
    "/field/{uuid}" : {
      "put" : {
        "operationId" : "updateField",
        "parameters" : [ {
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Field"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Field"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "update a field",
        "tags" : [ "field" ],
        "x-codegen-request-body-name" : "field"
      }
    }
  },
  "components" : {
    "schemas" : {
      "Field" : {
        "example" : {
          "reference" : "reference",
          "valueOrigin" : "046b6c7f-0b8a-43b9-b35d-6489e6daee91",
          "dataType" : "dataType",
          "label" : "label",
          "uuid" : "046b6c7f-0b8a-43b9-b35d-6489e6daee91",
          "value" : "{}"
        },
        "properties" : {
          "uuid" : {
            "description" : "single uuid acrross all version of the field",
            "format" : "uuid",
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "reference" : {
            "type" : "string"
          },
          "dataType" : {
            "type" : "string"
          },
          "value" : {
            "description" : "value of the type",
            "type" : "object"
          },
          "valueOrigin" : {
            "format" : "uuid",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "Section" : {
        "properties" : {
          "uuid" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "reference" : {
            "type" : "string"
          },
          "content" : {
            "items" : {
              "$ref" : "#/components/schemas/Field"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "Template" : {
        "properties" : {
          "uuid" : {
            "type" : "string"
          },
          "parent" : {
            "items" : {
              "$ref" : "#/components/schemas/Template"
            },
            "type" : "array"
          },
          "label" : {
            "type" : "string"
          },
          "reference" : {
            "type" : "string"
          },
          "content" : {
            "items" : {
              "$ref" : "#/components/schemas/Section"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}