<h1>Template edit</h1>


<div *wait="template">

  <div class="bd-callout bd-callout-meta">
    <strong>Meta data</strong>
    <div class="row input-group mb-3">
      <div class="col-2">
        <label>Reference</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" [(ngModel)]="template.reference">
      </div>
    </div>
    <div class="row input-group mb-3">
      <div class="col-2">
        <label>Label</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" [(ngModel)]="template.label">
      </div>
    </div>
    <div class="row input-group mb-3">
      <div class="col-2">
        <label>Parents</label>
      </div>
      <div class="col-10">
        <ul class="templateParents">
          <li *ngFor="let p of template.parents">
            <span class="badge badge-primary">{{p.label}} <i (click)="removeParent(p)" class="bi bi-x-circle-fill"></i></span>
          </li>
          <li><button class="btn" (click)="addParent()"><i class="bi bi-plus-circle-fill"></i></button></li>
        </ul>
      </div>
    </div>

  </div>


  <ul>
    <li *ngFor="let field of template.content">
      <button class="btn" (click)="deleteField(field)"><i class="bi bi-trash"></i></button>
      <app-field [field]="field"></app-field>
    </li>
  </ul>


  <button class="btn btn-primary" (click)="save()">save</button>
  <button class="btn btn-primary" (click)="startAddField()">addField</button>
</div>


