<h1>Template edit</h1>
<div *wait="template">

  <div class="bd-callout bd-callout-meta">
    <strong>Meta data</strong>
    <div class="row input-group mb-3">
      <div class="col-2">
        <label>Reference</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" [(ngModel)]="template.reference">
      </div>
    </div>
    <div class="row input-group">
      <div class="col-2">
        <label>Label</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" [(ngModel)]="template.label">
      </div>
    </div>
  </div>


  <ul>
    <li *ngFor="let field of template.content"><app-field [field]="field"></app-field></li>
  </ul>

  <app-field-selector *ngIf="selectField" (selectField)="addField($event)"></app-field-selector>

  <button class="btn btn-primary" (click)="save()">save</button>
  <button class="btn btn-primary" (click)="startAddField()" *ngIf="!selectField">addField</button>
</div>


