<div *wait="item" class="d-print-none">

  <h1>Item : {{item.title}}</h1>
  <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="dlSticker()">
    <i class="bi bi-upc-scan"></i> Sticker
  </button>


    <div class="section">
      <div class="bd-callout bd-callout-meta">
        <strong>Meta data</strong>
        <i *ngIf="mobileService.isMobile" class="fa fa-camera" (click)="takePhoto()"></i>
        <div class="row">
          <div class="col-12 col-md-auto">
            <div (click)="editThumbnail()">
              <img [src]="imgSrc | async">
            </div>
          </div>
          <div class="col-12 col-md">
            <div *ngFor="let field of item.content">
              <app-field-savable *ngIf="!field.isUserField" (onDelete)="deleteField(field)" [itemUuid]="item.uuid" [field]="field"></app-field-savable>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div *ngIf="item.uuid" class="cardContent">
    <div class="section">
      <h2>Data <i class="fa fa-plus-circle" (click)="startAddField()"></i></h2>
      <div *ngFor="let field of item.content">
        <app-field-savable  *ngIf="field.isUserField" (onDelete)="deleteField(field)" [itemUuid]="item.uuid" [field]="field"></app-field-savable>
      </div>
    </div>

    <div class="section">
      <h2>Annexes
        <i *ngIf="!mobileService.isMobile" class="fa fa-mobile-alt" (click)="requestPicture()"></i>
      </h2>

      <app-annex-table #annexTable (setThumbnail)="refreshThumbnail()" (deleteAnnex)="annexDeleted($event)"
                       [itemUuid]="item.uuid"
                       [annexes]="item.annexes"></app-annex-table>
      <div>
        <input (change)="onFileChange($event)" id="singleFile" type="file"/>
      </div>
    </div>

    <div class="section">
      <h2>Links
        <i *ngIf="!mobileService.isMobile" class="fa fa-plus-circle" (click)="addLink()"></i>
      </h2>
      <app-link-table #linkTable (deleteLink)="linkDeleted($event)" [item]="item"></app-link-table>

    </div>

  </div>
</div>


