<div *wait="item" class="d-print-none">

  <h1>Item : {{item.title}}</h1>
  <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="dlSticker()">
    <i class="bi bi-upc-scan"></i> Sticker
  </button>

  <div class="bd-callout bd-callout-meta">
    <strong>Meta data</strong>
    <div class="metadata">
      <div (click)="editThumbnail()" class="thumbnail">
        <img [src]="imgSrc | async">
      </div>
      <div class="metadata-data">
        <div class="row input-group mb-3">
          <div class="col-2">
            <label>title</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" [(ngModel)]="item.title">
          </div>
        </div>
        <div class="row input-group mb-3">
          <div class="col-2">
            <label>description</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" [(ngModel)]="item.description">
          </div>
        </div>
      </div>
    </div>
  </div>



  <h2>Data <i class="fa fa-plus-circle" (click)="startAddField()"></i></h2>
  <div *ngFor="let field of item.content">
    <app-field (onDelete)="deleteField(field)" [field]="field"></app-field>
  </div>


  <h2>Annexes</h2>
  <app-annex-table #annexTable (deleteAnnex)="annexDeleted($event)" [itemUuid]="item.uuid"
                   [annexes]="item.annexes"></app-annex-table>
  <div>
    <input (change)="onFileChange($event)" id="singleFile" type="file"/>
  </div>

  <div class="action-buttons">
    <button class="btn btn-primary" (click)="save()">save</button>
  </div>


</div>


