<div *wait="item">

  <h1>Item : {{item.title}}</h1>
  <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="openSticker(sticker)">
    <i class="bi bi-upc-scan"></i> Sticker
  </button>

  <ng-template #sticker let-modal>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <img src="/api/item/{{item.uuid}}/qr" />
        </div>
        <div class="col-7">
          <div class="stickerText">
            <b>{{item.title}}</b>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <div class="bd-callout bd-callout-meta">
    <strong>Meta data</strong>
    <div class="row input-group mb-3">
      <div class="col-2">
        <label>title</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" [(ngModel)]="item.title">
      </div>
    </div>
    <div class="row input-group mb-3">
      <div class="col-2">
        <label>description</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" [(ngModel)]="item.description">
      </div>
    </div>
  </div>


  <ul>
    <li *ngFor="let field of item.content">
      <button class="btn" (click)="deleteField(field)"><i class="bi bi-trash"></i></button>
      <app-field [field]="field"></app-field>
    </li>
  </ul>


  <button class="btn btn-primary" (click)="save()">save</button>
  <button class="btn btn-primary" (click)="startAddField()">addField</button>
</div>


