<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Reference</th>
    <th scope="col">Label</th>
    <th scope="col">Datatype</th>
    <th scope="col" *ngIf="allowEdit">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let field of fields">
    <th scope="row" (click)="actionSelectField(field)">{{ field.reference }}</th>
    <td>{{ field.label }}</td>
    <td>{{ field.inputType }}</td>
    <td *ngIf="allowEdit">
      <button class="btn" (click)="actionEditField(field)"><i class="bi bi-pencil-fill"></i></button>
      <button class="btn" (click)="actionRemoveField(field)"><i class="bi bi-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
