<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Reference</th>
    <th scope="col">Label</th>
    <th scope="col">Datatype</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let field of fields">
    <th scope="row">{{ field.reference }}</th>
    <td>{{ field.label }}</td>
    <td>{{ field.dataType }}</td>
    <td><button class="btn btn-secondary" (click)="actionEditField(field)"><i class="bi bi-pencil-fill"></i></button></td>
  </tr>
  </tbody>
</table>
