<h1>Fields</h1>
<field-table [allowEdit]="true" [fields]="fields"
             (editField)="startEdit($event, editField)"
             (removeField)="delete($event)" ></field-table>

<button *ngIf="!inEdit" (click)="newField(editField)" type="button" class="btn btn-primary">+</button>

<ng-template #editField>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit field</h4>
  </div>
  <div class="modal-body">
    <app-field-edit *ngIf="inEdit" [uuid]="editionFieldUuid"
                    (fieldSaved)="fieldUpdated($event)"></app-field-edit>
  </div>


</ng-template>
